<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hiraj_Foods</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hiraj_Foods.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/icofont.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/animate.css" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <header class="header-section">


                <div class="header-top">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-9 col-12">
                                <div class="ht-left">
                                    <ul class="agri-ul d-flex flex-wrap">
                                        <a href="mailto:info@hirajfoods.com">
                                        <li>
                                            <i class="icofont-envelope"></i><span>
                                                info@hirajfoods.com
                                            </span>
                                        </li></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <li><i class="icofont-phone"></i><span>+91 70306 00089</span></li>&nbsp;
                                        <li><i class="icofont-google-map"></i><span>Address -Gat No 577, Janori, Tal - Dindori, dist - Nashik</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12">
                                <div class="ht-right">
                                    <div class="scocial-media">
                                        <a href="https://fb.me/hirajf00ds" target="_blank" class="facebook"><img src="~/anurag-images/facebook.png" /></a>&nbsp;&nbsp;
                                        <a href="https://www.instagram.com/hiraj_foods?r=nametag" target="_blank" class=""><img src="~/anurag-images/instagram.png" /></a>&nbsp;&nbsp;
                                        <a href="mailto:info@hirajfoods.com" target="_blank" class="Email"><img src="~/anurag-images/email.png"></a>&nbsp;&nbsp;&nbsp;

                                        <a href="#" target="_blank" class="vimeo"><img src="~/anurag-images/whatsapp.png" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="header-bottom">
                    <div class="header-area">
                        <div class="container">
                            <div class="primary-menu">
                                <div class="main-area w-100">
                                    <div class="main-menu d-flex flex-wrap align-items-center justify-content-center w-100">
                                        <ul class="agri-ul">
                                            <li>
                                                Home
                                            </li>
                                            <li>
                                                About Us
                                            </li>
                                            <li>
                                                Quality & Values
                                            </li>
                                        </ul>
                                        <div class="logo px-4">
                                            <a href="index.php"><img src="~/anurag-images/hiraj food.png" alt="logo"></a>




                                        </div>
                                        <ul class="agri-ul">
                                            <li>
                                                Feedback
                                            </li>
                                            <li>
                                                Enquiry

                                            </li>
                                            <li>
                                                Contact
                                            </li>
                                        </ul>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>





            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hiraj_Foods</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Yadnesh" asp-action="Aboutus">AboutUs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Hiraj_Foods - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
