@{
    var userEmail = Context.Session.GetString("UserEmail");
    var userId = Context.Session.GetInt32("UserId");
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



    <title>@ViewData["Title"] - Hiraj_Foods</title>
    <link rel="icon" href="~/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />




    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/icofont.min.css" rel="stylesheet" />
    <link href="~/css/lightcase.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/swiper.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




</head>
<body>



    <div class="mobile-menu transparent-header" style="background-color: gray;">
        <nav class="mobile-header">
            <div class="header-logo">
                <a asp-area="" asp-controller="Yadnesh" asp-action="Home"><img src="~/img/hiraj food white logo website.png" alt="logo"></a>
            </div>
            <div class="header-bar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <nav class="mobile-menu">
            <div class="mobile-menu-area">
                <div class="mobile-menu-area-inner">
                    <ul class="agri-ul">
                        <li>
                            <a asp-area="" asp-controller="Yadnesh" asp-action="Home">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Yadnesh" asp-action="Aboutus">About Us</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Yadnesh" asp-action="Quality_Values">Quality & Values</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Rahul" asp-action="Feedback">FeedBack</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Rahul" asp-action="Enquiry">Enquiry</a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="Rahul" asp-action="Contact">Contact</a>

                        </li>


                        <li>
                            <a asp-area="" asp-controller="Rahul" asp-action="Contact">Contact</a>
                        </li>

                        <li>       <a asp-area="" asp-controller="Rahul" asp-action="Contact">Contact</a></li>


                        <li>
                            <a asp-area="" asp-controller="Rahul" asp-action="Contact">Contact</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <header class="header-section">

        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 col-12">
                        <div class="ht-left">
                            <ul class="agri-ul d-flex flex-wrap">
                                <a href="mailto:info@hirajfoods.com">
                                <li>
                                    <i class="fa-solid fa-envelope"></i>
                                    <span>
                                        info@hirajfoods.com
                                    </span>
                                </li>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <i class="fa-solid fa-phone"></i>
                                    <span>+91 70306 00089</span>
                                </li>&nbsp;
                                <li>
                                    <i class="fa-solid fa-location-dot"></i>
                                    <span>Address -Gat No 577, Janori, Tal - Dindori, dist - Nashik</span>
                                </li>
                            </ul>


                        </div>
                    </div>

                    <div class="col-lg-3 col-12">

                        <div class="ht-right">

                            <div class="scocial-media">

                                <a href="https://fb.me/hirajf00ds" target="_blank" class="facebook"><img src="~/img/facebook.png" /></a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/hiraj_foods?r=nametag" target="_blank" class=""><img src="~/img/instagram.png" /></a>&nbsp;&nbsp;
                                <a href="mailto:info@hirajfoods.com" target="_blank" class="Email"><img src="~/img/email.png" /></a>&nbsp;&nbsp;&nbsp;
                                <a href="#" target="_blank" class="vimeo"><img src="~/img/whatsapp.png" /></a>&nbsp;&nbsp;&nbsp;
                                <a asp-action="Login" asp-controller="Login" class="Email"><img src="~/anurag-images/navigation-button.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="header-bottom">
            <div class="header-area">
                <div class="container">
                    <div class="primary-menu">
                        <div class="main-area w-100">
                            <div class="main-menu d-flex flex-wrap align-items-center justify-content-center w-100">
                                <ul class="agri-ul">
                                    <li>
                                        <a asp-area="" asp-controller="Yadnesh" asp-action="Home">Home</a>

                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Yadnesh" asp-action="Aboutus">About Us</a>

                                    </li>

                                    <li>
                                        <a asp-area="" asp-controller="Yadnesh" asp-action="Quality_Values">Quality & Values</a>

                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Rahul" asp-action="Feedback">FeedBack</a>

                                    </li>
                                </ul>
                                <div class="logo px-4">
                                    <a asp-area="" asp-controller="Yadnesh" asp-action="Home"><img src="~/img/hiraj food.png" alt="logo"></a>


                                </div>
                                <ul class="agri-ul">

                                   
                                    <li>
                                        <a asp-area="" asp-controller="Rahul" asp-action="Enquiry">Enquiry</a>

                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Rahul" asp-action="Contact">Contact</a>
                                    </li>




                                    @if (!string.IsNullOrEmpty(userEmail) && userId.HasValue)
                                    {
                                        <li>
                                            <a asp-area="" asp-controller="Login" asp-action="UserLogout">Logout</a>
                                        </li>


                                        <li>

                                           <a asp-area="" asp-controller="User" asp-action="Profile">Profile</a>

                                        </li>



                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-area="" asp-controller="Login" asp-action="Signup">Login and Signup</a>
                                        </li>
                                    }






                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- footer section start here -->
    <footer class="footer-section padding-tb pb-0">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer-item">
                            <div class="footer-inner">
                                <div class="footer-logo">

                                    <img src="~/img/hiraj food white logo website.png" />

                                </div>
                                <div class="footer-desc">
                                    <p>Our Brand gives us the opportunity to create positive change to grow our products & achieve our purpose of making sustainable living in common place.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer-item footer-addtess">
                            <div class="footer-inner">
                                <div class="footer-title">
                                    <h5>Keep In Touch</h5>
                                </div>
                                <div class="footer-body">
                                    <ul class="agri-ul">
                                        <li>
                                            <div class="contact-item">
                                                <div class="contact-icon">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                </div>
                                                <div class="detalis">
                                                    <p>&nbsp;&nbsp;Address -Gat No 577, Janori,&nbsp; Tal - Dindori, dist - Nashik</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contact-item">
                                                <div class="contact-icon">
                                                    <i class="fa-solid fa-phone"></i>



                                                </div>
                                                <div class="detalis">
                                                    <p>&nbsp;&nbsp;+91 70306 00089</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contact-item">
                                                <div class="contact-icon">
                                                    <i class="fa-solid fa-envelope"></i>

                                                </div>
                                                <div class="detalis">
                                                    <a href="mailto:info@hirajfoods.com"><p>&nbsp;info@hirajfoods.com</p></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer-item footer-blog">
                            <div class="footer-inner">
                                <div class="footer-title">
                                    <h5>Hiraj Product</h5>
                                </div>
                                <!-- This part was PHP-generated, you may replace it with static HTML if needed -->
                                <div class="footer-body">
                                    <ul>
                                        <li><a style="color: #ffffff;" asp-action="MoreInfo" asp-controller="Yadnesh" asp-route-name="Apple">Apple</a></li>
                                        <li><a style="color: #ffffff;" asp-action="MoreInfo" asp-controller="Yadnesh" asp-route-name="Guava">Guava</a></li>
                                        <li><a style="color: #ffffff;" asp-action="MoreInfo" asp-controller="Yadnesh" asp-route-name="Chocolate">Chocolate</a></li>
                                        <li><a style="color: #ffffff;" asp-action="MoreInfo" asp-controller="Yadnesh" asp-route-name="Elaichi">Elaichi</a></li>
                                        <li><a style="color: #ffffff;" asp-action="MoreInfo" asp-controller="Yadnesh" asp-route-name="Mix Fruit">Mix Fruit</a></li>
                                        <li><a style="color: #ffffff;" asp-action="MoreInfo" asp-controller="Yadnesh" asp-route-name="Mango">Mango</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer-item footer-gallery">
                            <div class="footer-inner">
                                <div class="footer-title">
                                    <h5>Social Links</h5>
                                </div>
                                <div class="col-lg-3 col-12">
                                    <div class="ht-right">
                                        <div class="scocial-media">
                                            <a href="https://fb.me/hirajf00ds" target="_blank" class="facebook">
                                                <img src="~/img/facebook.png" />
                                            </a>
                                            <a href="https://www.instagram.com/hiraj_foods?r=nametag" target="_blank" class="">
                                                <img src="~/img/instagram.png" />
                                            </a>
                                            <a href="mailto:info@hirajfoods.com" target="_blank" class="Email">

                                                <img src="~/img/email.png" />
                                            </a>
                                            <a href="#" target="_blank" class="vimeo">

                                                <img src="~/img/whatsapp.png" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>
                    &copy;<script type="text/javascript">document.write(new Date().getFullYear())</script> All Rights reserved. Designed by
                    <a href="https://sumagoinfotech.com/" target="_blank">

                        <img src="~/img/flogo2.png" />
                        <span> Sumago Infotech Pvt. Ltd.</span>
                    </a>
                </p>
            </div>
        </div>
    </footer>

    <!-- footer section ending here -->
    @*   <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - Hiraj_Foods - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/lightcase.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/wow.min.js"></script>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/lightcase.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/wow.min.js"></script>






    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/lightcase.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/wow.min.js"></script>




    <!--script for charts-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
