<!DOCTYPE html>
<html lang="en">

<body> 
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo me-1">
                <a asp-action="Logout" asp-controller="Admin" style="color: var(--bs-primary)">
                    <img src="~/img/hiraj food.png" />
                </a>
            </span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="mdi menu-toggle-icon d-xl-block align-middle mdi-20px"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item">
            <a asp-area="" asp-controller="Admin" asp-action="dashboard" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
                <div data-i18n="Dashboards">Home</div>
            </a>
        </li>
        <!-- Layouts -->
        <li class="menu-item">

            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons mdi mdi-glass-tulip"></i>

                <div data-i18n="Layouts">Products </div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Admin" asp-action="AddProduct" class="menu-link">
                        <div data-i18n="Without menu">Add Products</div>

                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Admin" asp-action="ViewProduct" class="menu-link">
                        <div data-i18n="Without navbar">View Products</div>
                    </a>
                </li>

            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons mdi mdi-album"></i>
    
                <div data-i18n="Layouts">Banner </div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Admin" asp-action="AddBanner" class="menu-link">
                        <div data-i18n="Without menu">Add Banner</div>

                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Admin" asp-action="Banner" class="menu-link">
                        <div data-i18n="Without navbar">View Banner</div>
                    </a>
                </li>

                  
            </ul>
        </li>

        <li class="menu-item">

            <a asp-action="ViewUser" asp-controller="Admin" class="menu-link ">

                <i class="menu-icon tf-icons mdi mdi-account"></i>

                <div data-i18n="Dashboards" asp->Users</div>

            </a>
        </li>


        <li class="menu-item">

            <a asp-action="ViewCheckouts" asp-controller="Admin" class="menu-link ">

                    <i class="menu-icon tf-icons mdi mdi-cart"></i>

                <div data-i18n="Dashboards" asp->View Checkouts</div>

            </a>
        </li>
            <li class="menu-item">

                <a asp-action="ViewOrder" asp-controller="Admin" class="menu-link ">

                    <i class="menu-icon tf-icons mdi mdi-database"></i>

                    <div data-i18n="Dashboards" asp->View Orders</div>

                </a>
            </li>





        <li class="menu-item">

            <a asp-action="ViewContact" asp-controller="Admin" class="menu-link ">

                <i class="menu-icon tf-icons mdi mdi-phone"></i>

                <div data-i18n="Dashboards" asp->Contact</div>

            </a>
        </li>


        <li class="menu-item">
            <a asp-area="" asp-controller="Admin" asp-action="Enquiry" class="menu-link">

                <i class="menu-icon tf-icons mdi mdi-format-align-justify"></i>

                <div data-i18n="Dashboards">Enquiry</div>
            </a>
        </li>

        <li class="menu-item">
            <a asp-area="" asp-controller="Admin" asp-action="Feedback" class="menu-link">

                <i class="menu-icon tf-icons mdi mdi-backup-restore"></i>

                <div data-i18n="Dashboards">Feedback</div>
            </a>
        </li>

        <!--Settings-->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">

                <i class="menu-icon tf-icons mdi mdi-backup-restore"></i>

                <div data-i18n="Layouts">Settings </div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Admin" asp-action="AccountSetting" class="menu-link">
                        <div data-i18n="Without menu">My Profile</div>

                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Admin" asp-action="ChangePassword" class="menu-link">
                        <div data-i18n="Without navbar">Change Password</div>
                    </a>
                </li>

            </ul>
        </li>

        <!-- Pages -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">

                <i class="menu-icon tf-icons mdi mdi-account-outline"></i>

                <div data-i18n="Account Settings">Account Settings</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="pages-account-settings-account.html" class="menu-link">
                        <div data-i18n="Account">Account</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Admin" asp-action="Notification" class="menu-link">
                        <div data-i18n="Notifications">Notifications</div>
                    </a>
                </li>

            </ul>
        </li>



        <!-- Misc -->
        <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Support</span></li>
        <li class="menu-item">
                <a href="https://github.com/yadnesh045/Hiraj-Foods"
               target="_blank" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-lifebuoy"></i>
                <div data-i18n="Support">Support</div>
            </a>
        </li>
        <li class="menu-item">
                <a href="https://support.google.com/"
               target="_blank" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-file-document-multiple-outline"></i>
                <div data-i18n="Documentation">Documentation</div>
            </a>
        </li>
    </ul>
</aside>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuLinks = document.querySelectorAll('.menu-toggle');

        menuLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const submenu = this.nextElementSibling;
                submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
            });
        });
    });
</script>
</body>
</html>