@model Hiraj_Foods.Models.Enquiry



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Enquiry </title>

</head>
<body>

    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->
    <!--search area-->
    <div class="search-input">
        <div class="search-close">
            <i class="fas fa-times"></i>

        </div>
        <form>
            <input type="text" name="text" placeholder="Search Heare">
            <button class="search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <!-- search area -->
    <!-- Mobile Menu Start Here -->
    <?php include('assets/include/header.php');?>
    <!-- desktop menu ending here -->
    <section class="page-header page-header1 bg_img padding-tb">
        <div class="overlay"></div>
        <div class="container">
            <div class="page-header-content-area">
                <h4 class="ph-title"><!-- Enquiry Form --></h4>

                <ul class="agri-ul">
                    <!-- <li><a href="index.html">Home</a></li>
                    <li><a class="active">Contact Us</a></li> -->
                </ul>
            </div>
        </div>
    </section>


    <!-- Contact Us Section Start Here -->
    <div class="contact-section padding-tb">
        <div class="container">
            <div class="contac-top" align="center">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-6 col-12" align="center">
                        <div class="contact-item" style="border-width:2px;
                                      border-style:outset;height: 75px;">
                            <div class="contact-icon" style="padding-left: 15px;">


                                <i class="fa-solid fa-location-dot"></i>

                            </div>
                            <div class="contact-details">
                                <p style="margin-top: 5px;margin-top: 10px;">Address -Gat No 577, Janori,<br> Tal - Dindori, dist - Nashik</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12" align="center">
                        <div class="contact-item" style="border-width:2px;
                                      border-style:outset;height: 75px;" align="center">
                            <div class="contact-icon" style="padding-left: 15px;margin-top: 10px;">
                                <i class="fa-solid fa-phone"></i>

                            </div>
                            <div class="contact-details">
                                <p style="margin-top: 5px;margin-right:45px;margin-top:15px;">+91 70306 00089</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12" align="center">
                        <div class="contact-item" style="border-width:2px;
                                      border-style:outset;height: 75px;" align="center">
                            <div class="contact-icon" style="padding-left: 15px;margin-top: 10px;">
                                <i class="fa-solid fa-envelope"></i>

                            </div>
                            <div class="contact-details">
                                <p style="margin-top: 5px; margin-right:30px;margin-top: 15px;">info@hirajfoods.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contac-bottom">
                <div class="row justify-content-center" style="margin-bottom: 45px;">
                    <div class="col-lg-12 col-12">
                        <div class="location-map">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1873.348170058563!2d73.88600708726271!3d20.10497671504022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddc332cf61e197%3A0x20563edf8a061382!2sJanori!5e0!3m2!1sen!2sin!4v1616657246628!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div><br><br>
                    </div>

                    <div class="col-lg-12 col-12 text-center">
                        <h4>Enquiry Form</h4>
                        <p>We will get in touch with you shortly</p>
                        <div class="contact-form" style="border-width:2px;
                                      border-style:inset; border-width:2px;
                                      border-style:inset;padding-top: 15px;padding-left: 15px;padding-right: 15px;padding-bottom: 15px;">

                            <form method="post" id="commentform" asp-controller="Rahul" asp-action="Enquiry" class="comment-form">

                                <input type="text" name="name" class="form-control" placeholder="Enter Name" required="">

                                <input type="email" name="email" class="form-control" placeholder="Enter Email" required="">

                                <input type="text" name="subject" class="form-control" placeholder="Enter Subject" required="">

                                <input type="text" name="Phone" class="form-control" placeholder="Enter Mobile Number" required="">

                                <textarea type="text" id="role" cols="30" rows="10" name="message" placeholder="Enter Message" required=""></textarea>

                                <button type="submit" class="lab-btn" name="submit" value="Submit">
                                    Submit Now
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="assets\js\jquery.js"></script>
    <script src="assets\js\fontawesome.min.js"></script>
    <script src="assets\js\waypoints.min.js"></script>
    <script src="assets\js\bootstrap.min.js"></script>
    <script src="assets\js\wow.min.js"></script>
    <script src="assets\js\swiper.min.js"></script>
    <script src="assets\js\jquery.countdown.min.js"></script>
    <script src="assets\js\jquery.counterup.min.js"></script>
    <script src="assets\js\isotope.pkgd.min.js"></script>
    <script src="assets\js\lightcase.js"></script>
    <script src="assets\js\functions.js"></script>



    @if (TempData["Enquiry"] != null)
    {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

        <script type="text/javascript">
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }


            // Display the Toastr notification
            toastr.success('@TempData["Enquiry"]');
        </script>

    }





</body>
</html>