<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<section class="page-header page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title"><!-- About us --></h4>
            <ul class="agri-ul">
                <!-- <li><a href="#"></a></li> -->
                <!-- <li><a class="active">About</a></li> -->
            </ul>
        </div>
    </div>
</section>

<section class="about-us bg_img padding-tb" style="margin-top: 20px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="about-thumb" style="margin-top: 50px;">
                    <img src="~/img/about1.jpg" alt="about-thumb">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="section-wrapper">
                    <h3 style="margin-top: -18px;" align="center">Quality & Safety</h3>
                    <!--  <h5>We give you the best service</h5> --><br>
                    <p class="text-justify">You and your family have placed your trust and your health in our hands and we take both very seriously.
                    <p class="text-justify">Our promise to you is to take every possible step to ensure the safety and efficiency of every product, we produce now and always.</p>
                    <p class="text-justify">From our humble beginning our company has been an unwavering commitment to quality.</p>
                    <p class="text-justify">
                        Our mission as a company is to provide quality in our products and services that empower people to lead healthier lives and we fulfil this mission by consistently producing premium quality natural products that complement any healthy lifestyle.
                    </p>
                    <p class="text-justify">
                        Your satisfaction and trust are what we strive for every day.  Social, Environmental and Economic performance across the value chain.  Our goal is to source 100% of our agricultural raw material sustainably.
                    </p>
                </div>
                <!-- <div class="text-left">
                  <a href="#" class="lab-btn"><span>About Us</span></a>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- about section ending here -->
<!-- Histori section Start here -->
<section class="about-us bg_img_1 bg_img padding-tb" style="margin-top: 40px;margin-bottom:30px;">
    <div class="container">
        <!-- <div class="section-header text-left">
          <h3>History</h3>
          <h3>A FAMILY OWNED FARM</h3>
        </div> -->
        <div class="section-wrapper">
            <div class="history-item ">
                <div class="history-inner">
                    <h4 class="text-center"><u>Our Values and Principles</u></h4><br>
                    <div class="row align-items-center">
                        <!-- <div class="col-lg-6 col-12">
                          <div class="about-thumb">
                            <img src="assets\images\history\farm.jpg" alt="about-thumb">
                          </div>
                        </div> -->
                        <div class="col-lg-2 col-12"></div>
                        <div class="col-lg-8 col-12">
                            <div class="section-wrapper">

                                <!--  <h5>We give you the best service</h5> --><br>
                                <p>We aim to make positive impact through our brands. We are also committed to continuously improving the way we manage our goal of developing our brand having strong set of values that are beneficial to society has always been at the top of Hiraj foods.</p>
                                <p>We will continue to be at higher level to building our purpose led future.</p>
                                <p>We aim to continuous improvement how we work and to future business integrity on the basis of our principles.</p>
                            </div>
                            <!-- <div class="text-left">
                              <a href="#" class="lab-btn"><span>About Us</span></a>
                            </div> -->
                        </div>
                        <div class="col-lg-2 col-12"></div>
                    </div>
                    <!-- <p>India takes pride in being the second largest economy in the production of agricultural materials.Agriculture is the most important occupation for most of the Indian families.</p> -->
                    <!-- <div class="history-thumb">
                      <img src="assets\images\history\farm.jpg" alt="history">
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Histori section ending here -->



