body {
    background-color: #ffb11f;
    font-family: 'Asap', sans-serif;
}

.login {
    overflow: hidden;
    background-color: white;
    padding: 40px 20px 30px 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

    .login::before,
    .login::after {
        content: '';
        position: absolute;
        width: 600px;
        height: 600px;
        border-top-left-radius: 40%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 35%;
        border-bottom-right-radius: 40%;
        z-index: -1;
    }

    .login::before {
        left: 40%;
        bottom: -130%;
        background-color: rgba(69, 105, 144, 0.15);
        animation: wawes 6s infinite linear;
    }

    .login::after {
        left: 35%;
        bottom: -125%;
        background-color: rgba(2, 128, 144, 0.2);
        animation: wawes 7s infinite;
    }

    .login > input,
    .login > button {
        font-family: 'Asap', sans-serif;
        display: block;
        border-radius: 5px;
        font-size: 16px;
        background: white;
        width: calc(100% - 20px); /* Adjusted width for padding */
        border: 0;
        padding: 10px;
        margin: 15px 0; /* Adjusted margin */
    }

    .login > button {
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
        width: 100px; /* Adjusted width */
        padding: 12px 0; /* Adjusted padding */
        border-radius: 5px;
        background-color: #ffb11f;
        transition: background-color 300ms;
    }

        .login > button:hover {
            background-color: white; /* Lighter shade when hovered */
            border: solid #ffb11f;
            color:black;
            font-family:Candara;
        }

.Logo {
    display: block;
    margin: 0 auto;
    margin-top: 100px; /* Adjusted margin for smaller screens */
}

@media (max-width: 375px) {
    .login {
        padding: 30px 15px; /* Adjusted padding */
    }

    .Logo {
        margin-top: 50px; /* Further adjusted margin */
    }
}

@keyframes wawes {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}
 


/*Loader*/

/* Loader styles */
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
}
