@model Hiraj_Foods.Models.View_Model.EntityOrder

@{
    Layout = null;
}

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<link href="~/payment-css/stylesheet.css" rel="stylesheet" />



<div class="container">
    <div id="Checkout" class="inline">
        <h1>Pay Invoice</h1>
        <div class="card-row">
            <span class="visa"></span>
            <span class="mastercard"></span>
            <span class="amex"></span>
            <span class="discover"></span>
        </div>
        <form asp-action="CreateOrder">



            <div class="form-group">
                <label asp-for="Amount">Payment amount: </label>
                <input asp-for="Amount" value="@ViewBag.ProductPrice" readonly class="amount-placeholder" style="border: none;" />
            </div>


            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" class="form-control" />
            </div>
            <button id="PayButton" class="btn btn-block btn-success submit-button" type="submit">
                <span class="submit-button-lock"></span>
                <span class="align-middle">Pay</span>
            </button>
        </form>
    </div>
</div>