@model Hiraj_Foods.Models.View_Model.EntityOrder;

@{
    Layout = null;
}

<div class="align-items-center">

    <div class="text-center text-success">
        <h4> We Have Sucessfully Recivied Your Payment.... Thank You ...!</h4>
    </div>
    <div class="row">
        <div class="cl-md-6">
            <div class="col-form-label">
                TransactionID : @Html.DisplayText("TrancationId");
            </div>

        </div>
    </div>
</div>
