@model Hiraj_Foods.Models.View_Model.LoginData


@{
    Layout = null;
}



<link href="~/css/login-css/login.css" rel="stylesheet" />

<img class="Logo" src="~/img/hiraj food.png" />


<form class="login" method="post">
    <input asp-for="@Model.EnteredEmail" type="text" placeholder="Email">
    <input asp-for="@Model.EnteredPassword" type="password" placeholder="Password">
    <button type="submit">Login</button>
</form>



@if (TempData["Error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        // Display the Toastr notification
        toastr.error('@TempData["Error"]');
    </script>

        // Set Toastr options including custom background color
        toastr.options = {
            "toastClass": "toastr-custom", // Custom class for styling
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "progressBarColor": "white"
        };

        // Display the Toastr notification
        toastr.success('@TempData["Error"]');
    </script>

    <style>
        /* Custom style for Toastr notification */
        .toastr-custom {
            background-color: red !important; /* Change to your desired background color */
            color: #000000 !important;
            font-family: Cambria; /* Change to your desired text color */
        }
    </style>
}
