@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;700&display=swap');

body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-position: center center;
}

* {
    box-sizing: border-box;
}


.container {
  /*  background-color: #00000020;*/
    padding: 20px;
}

#message {
    display: none;
  /*  background: #f1f1f1;
    color: #000;*/
    position: relative;
    padding: 10px;
    margin-top: 5px;
}

    #message p {
        padding: 5px 10px;
        font-size: 18px;
        font-size:15px;
    }

.valid {
    color: green;
}

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }

.invalid {
    color: red;
}

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }

.LoginForm {
    width: 52%;
    margin: 50px auto;
}
